<link rel="stylesheet" href="@Model.GetRelativePath(" static/css/home.css ")">
<link rel="stylesheet" href="@Model.GetRelativePath(" static/css/custom/cust_home.css ")">
<link rel="stylesheet" href="@Model.GetRelativePath(" static/css/custom/timeline.css ")">
<style>
    #stage {
        background-image: url(@Model.GetRelativePath("static/images/landing.jpg"));
    }
</style>
<!--title and menus area -->
<div id="title_lang">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe fa-2x"></i> 
                    </button>
        <div class="dropdown-menu dropdown-menu-right color-3">
            <a class="dropdown-item" href="@Model.GetRelativePath(" ./ ")">English</a>
            <a class="dropdown-item" href="@Model.GetRelativePath(" ./fr/ ")">Français</a>
        </div>
    </div>
</div>
<header>
    <div id="landing_stage">
        <div id="stage">
            <div id="stage-caption">
                <h1 class="display-3">@Raw(@Model.ConvertMdContent(@Model.Home.Title))</h1>
                <p>@Raw(@Model.ConvertMdContent(@Model.Home.TitleDescription))</p>
            </div>
            <div id="scrolldown">
                <a class="smoothscroll"><i class="fa fa-angle-double-down fa-3x"></i></a>
            </div>
            <div id="landing_actionlist" class="container-fluid">
                <div class="row no-gutters">
                    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" style="width:100%">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" href="#">KS</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                @{ foreach(var menu in @Model.Home.TitleMenus) {
                                <li class="nav-item">
                                    <a class="nav-link" href="#">@Raw(@Model.ConvertMdContent(@menu.MdPath))</a>
                                </li>
                                } }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- body sections area -->
<div id="body_area" class="container-fluid">
    <div class="row">
        @{ foreach(var bsection in @Model.Home.BodySections) {
        <div id="section_@bsection.Id" class="col spaced-section animated @bsection.CustomCss">
            <section>
                @Raw(@Model.ConvertMdContent(@bsection.MdPath))
            </section>
        </div>
        } }
    </div>
</div>


<script src="@Model.GetRelativePath(" static/home.js ")"></script>